# Virtual Environment
venv/

# Environment Variables
.env
k8s/secret.yaml

# Logs
logs/
*.log

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# PyCharm
.idea/
k8s/secret.yaml
customers.xlsx
values-local.yaml
